<div class="card">
    <div class="card-header">
        <h3><strong>Registrar nuevo usuario</strong></h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>
                Nombre: 
            </label>
            <input
             class="form-control"
             type="text"
             [(ngModel)]="nuevo_usuario.nombre" 
             required >
        </div>

        <div class="form-group">
            <label>
                Apellido Paterno: 
            </label>
            <input
             class="form-control"
             type="text"
             [(ngModel)]="nuevo_usuario.apellido_paterno" 
             required >
        </div>

        <div class="form-group">
            <label>
                Apellido Materno: 
            </label>
            <input
             class="form-control"
             type="text"
             [(ngModel)]="nuevo_usuario.apellido_materno" 
             required >
        </div>

        <div class="form-group">
            <label>
                Edad: 
            </label>
            <input
             class="form-control"
             type="number"
             [(ngModel)]="nuevo_usuario.edad" 
             required >
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success ml-3" (click)="registrarUsuario()" >Registrar</button>
        <button class="btn btn-primary ml-3" (click)="limpiarCampos()" >Limpiar</button>
    </div>

</div>